# .yamllint
extends: default

rules:
  line-length:
    max: 800 # Increased to accommodate very long deptry ignore lists in GitHub workflows
    level: warning

  indentation:
    spaces: 2
    indent-sequences: false # This matches yamlfmt's indentless_arrays: true

  comments:
    min-spaces-from-content: 1

  truthy:
    allowed-values: ['true', 'false', 'on', 'off', 'yes', 'no']

  brackets:
    forbid: false
    min-spaces-inside: 0
    max-spaces-inside: 1

  document-start: disable # Don't require --- at start
  document-end: disable # Don't require ... at end
